/*	clear default style	*/
body {
	margin:0; 
	padding:0;
}

.background {
	background-image: url(https://source.unsplash.com/1600x900/daily?landscape);
	background-size:cover;	/*	no influence by browser zoom in/out	*/
    width: 100vw;
    height: 100vh;
	position:fixed;
}

.middle {
	text-align:center;
	position: absolute;
	top:20%;
	left:0%;
	width:100%;
}

.middle h1{
	color: white;
	font-size: 1400%;
	font-family :Sans-serif ;
}

.above{
	text-align:center;
	position: absolute;
	top:25%;
	left:0%;
	width:100%;
}

.above h2{
	color: white;
	font-size: 300%;
	font-family :Sans-serif ;
	text-shadow: 2px 2px 20px #E8E8E8;
}
